header{
    width: 1280px;
    display: block;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: 1300px) {
    width: 1100px;
    }
    @media screen and (max-width: 1150px) {
        width: 900px;
    }
    @media screen and (max-width: 810px) {
    width: 750px;
    }
    @media screen and (max-width: 650px) {
    width: 500px;
    }
    @media screen and (max-width: 520px) {
    width: 450px;
    }
    @media screen and (max-width: 465px) {
    width: 400px;
    }
    @media screen and (max-width: 420px) {
    width: 350px;
    }
    @media screen and (max-width: 370px) {
    width: 300px;
    }

.Topbar{
    height: 70px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

.topleft{
    img{
        font-size: 10px;
        cursor: pointer;
    }
}
.topright{
    @media screen and (max-width: 650px) {
    display: none;
    }
    li{
    justify-content: flex-end;
    font-weight: 300;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    &:hover {
    background-color: #DDDDDD;
    transition: 0.4s;
    color: #30475E;
    }          
    } 
.toprightList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
.toprightListItem{
    @media screen and (max-width: 1100px) {
        font-size: 15px;
          }
    @media screen and (max-width: 810px) {
        font-size: 13px;
          }
        }
      }
    }
}  
    a{
    font-size: 30px;
    display: none;
    color: inherit;
    @media screen and (max-width: 650px) {
        display: block;
        }
    }
}

