header{
    width: 1280px;
    display: block;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: 1300px) {
    width: 1000px;
    }
    @media screen and (max-width: 1150px) {
        width: 800px;
    }
    @media screen and (max-width: 850px) {
    width: 600px;
    }
    @media screen and (max-width: 650px) {
    width: 500px;
    }
    @media screen and (max-width: 520px) {
    width: 450px;
    }
    @media screen and (max-width: 465px) {
    width: 400px;
    }
    @media screen and (max-width: 420px) {
    width: 350px;
    }
    @media screen and (max-width: 370px) {
    width: 300px;
    }

.Topbar{
    height: 70px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

.topleft{
    a{
    text-decoration: none;
    }
    }
.topright{
    @media screen and (max-width: 650px) {
    display: none;
    }

    li{
    justify-content: flex-end;
    text-decoration: none;
    font-weight: 600;
    display: flex;
                
    &:hover {
    text-decoration: underline;
    transition: 0.5s;
    }          
    } 
.toprightList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
.toprightListItem{
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
            }
        }
    }
}  
    a{
    font-size: 30px;
    display: none;
    color: inherit;
    @media screen and (max-width: 650px) {
        display: block;
        }
    }
}

