.Contact {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 50px;
  
    .education-title {
      text-align: center;
      margin-bottom: 50px;
      color: #fff;
      font-size: 26pt;
      font-weight: 700;
    }
    .container {
      .contact-form {
        @media screen and (max-width: 991px) {
          padding-bottom: 20px;
        }
        .content-title {
          width: 30%;
          border-bottom: solid 1px #272727;
          padding-bottom: 5px;
          margin-bottom: 20px;
          color: #fff;
        }
        .form-group {
          margin-bottom: 25px;
          .form-control {
            border: none;
            border-radius: 0;
            font-size: 15px;
            height: 44px;
            padding: 9px 14px;
            color: #777;
            background-color: #272727;
            &:active {
              border: none;
            }
          }
          #contact-message {
            height: 150px;
          }
        }
      }
  
      .form-submit {
        button {
          background-color: #272727;
          width: 25%;
          border-radius: 20px;
          line-height: 2.6;
          border: none;
          cursor: pointer;
          @media screen and (max-width: 1200px) {
            width: 32%;
          }
          @media screen and (max-width: 455px) {
            width: 40%;
          }
          span {
            color: #fff;
          }
          &:hover {
            background: #f3ca2f;
            transition: 0.5s;
          }
        }
      }
  
      .contact-info {
        @media screen and (max-width: 991px) {
          padding-top: 50px;
          border-top: solid 1px;
        }
        .content-title {
          width: 40%;
          border-bottom: solid 1px #272727;
          padding-bottom: 5px;
          color: #fff;
        }
        .info-description {
          padding-top: 6px;
          color: #fff;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          margin-top: 10px;
          li {
            display: flex;
            color: #fff;
            margin-top: 15px;
            width: 49%;
            .info-details {
              padding-left: 15px;
              h6 {
                font-weight: 600;
                padding: 0;
                margin: 0;
              }
              a {
                text-decoration: none;
                color: inherit;
                font-size: 15px;
              }
              .info-value {
                font-size: 15px;
              }
            }
            i {
              color: #f3ca2f;
              font-size: 35px;
              padding-bottom: 18px;
            }
          }
        }
      }
    }
  }
  