@import "~bootstrap/scss/bootstrap";
.Header{
    background-color: #F9F9F9;
    img{
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
}

    .headerSide{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #444;
        position: absolute;
        width: 1080px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        .container
            .row{
                .col{
                    h1{
                        font-size: 40px;
                    }
                    p{
                        font-size: 15px;
                        font-weight: 400;
                        color: inherit;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
            }

        }