.Works{
background-color: #232931;
padding-top: 50px;
padding-bottom: 50px;

.education-title{
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    font-size: 26pt;
    font-weight: 700;
    }
.container{

.single-service{
    position: relative;
    margin-bottom: 50px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    overflow: hidden;
    background-color: #1B262C;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    z-index: 55;
    
.service-img{
    height: 100%;
    position: relative;
    img{
        width: 100%;
    }
        .content-date{
            position: absolute;
            bottom: 0;
            left: 0;
            display: inline-block;
            padding: 0 14px;
            color: #FFF;
            background-color:#FD0152;
            border-radius: 5px;
            font-size: 15px;
        }    
}
}

h4{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1px;
    margin-bottom: 6px;
    margin-top: 10px;
    color: #FFF;
}
p{
    line-height: 1.6;
    color: #F9F9F9;
    margin: 10px;
    font-size: 15px;
}
}

}
