footer {
    background-color: #232931;
    padding: 100px 0;
    text-align: center;
    .Footer {
      .container {
        .row {
          .col-md-12 {
            ul {
              li {
                display: inline-block;
                list-style-type: none;
                margin: 10px;
                a {
                  background: #252525 none repeat scroll 0 0;
                  border-radius: 50%;
                  color: #fff;
                  display: inline-block;
                  font-size: 17px;
                  height: 40px;
                  line-height: 43px;
                  text-align: center;
                  width: 40px;
                  &:hover {
                    background-color: #f3ca2f;
                    transition: 0.5s;
                    i {
                      color: #000;
                    }
                  }
                }
              }
            }
          }
          p {
            color: #999;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  