.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc( 100vh - 70px);
        background-color: white;
        position: relative;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        overflow-x: hidden;
        
        >*{ 
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}