.app{
    *{
        font-family: montserrat,sans-serif;
    }
    height: 100vh;

    .sections{
        width: 100%;
        height: calc( 100vh - 70px);
        background-color: white;
        position: relative;        
    }
}